<template>
  <a-button title="Add New" size="medium" type="primary" @click="showModal">Add New</a-button>
  <div>    
    <a-modal 
      v-model:visible="visible" 
      title="Add New Category" 
      ok-text="Delete" 
      centered 
      :footer="null"
      width="700px"
    >
      <h3>Fill up all required fields.</h3>

      <div class="add-container">
        <!-- Form BEGIN -->
    
          <a-form
            ref="formRef"
            :model="storeCategoryFormRequest"
            name="basic"
            layout="vertical" 
            autocomplete="off"
            @finish="onFinish"
            @finishFailed="onFinishFailed"       
            >
            <a-row :gutter="24">
              <a-col :span="24">
                <a-form-item
                  label="Name"
                  name="name"
                  :rules="[{ required: true, message: 'Please input the Category name.' }]">
                  <a-input v-model:value="storeCategoryFormRequest.name" id="name" />
                </a-form-item>            
              </a-col>              
            </a-row>
            <a-row :gutter="24" class="mt-3">
              <a-col :span="24">
                <a-form-item
                  label="Description"
                  name="description"
                  :rules="[{ required: false, message: 'Please input the description' }]">
                  <a-textarea v-model:value="storeCategoryFormRequest.description" id="description" />
                </a-form-item>           
              </a-col>
            </a-row> 

            <a-row :gutter="24" class="mt-3">
              <a-col :span="12">
                <a-form-item
                  label="Status"
                  name="status"
                  :rules="[{ required: true, message: 'Please select a status' }]">               
                  <a-select    
                  show-search           
                  v-model:value="storeCategoryFormRequest.status"                 
                  :options="status"                                            
                  :filter-option="filterOption" 
                  id="status"                
                  >
                  </a-select>
                </a-form-item>           
              </a-col>
            </a-row>  
           

            <a-row :gutter="24" class="mt-3">
              <a-col :span="24" class="text-right">
                <a-space>
                  <a-button key="back" @click="handleCancel">Cancel</a-button>
                  <a-button key="submit" type="primary" html-type="submit" :loading="loading" :disabled="loading">Save</a-button>
                </a-space>
              </a-col>
            </a-row>  
         
          </a-form> 

        <!-- Form END -->

      </div>
    </a-modal>


  </div>
</template>
<script setup>

import { ref } from 'vue';
import { storeToRefs } from 'pinia'
import { useCategoryStore } from "@/stores/categoryStore";

//Instantiate first the store
const categoryStore = useCategoryStore()

//Then you can destructure using storeToRefs to expose its 
//properties and able to use it in the components.
const { storeCategoryFormRequest } = storeToRefs(categoryStore);

//you can destructure its functions without using storeToRefs
//and use it in the components.
const { storeCategory } = categoryStore;

//variables
const visible = ref(false)
const formRef = ref();

const status = ref([
  {value: 1,
   label: 'Active'
  },
  {value: 0,
   label: 'Inactive'
  },
])


const showModal = () => {
  //your code here..
  visible.value = true
  //load all categories

}

const handleCancel = () => {
  resetForm()
  visible.value = false
}

const resetForm = () => {
 formRef.value.resetFields();
};


const onFinish = values => {
      console.log('on finish Success:', values);
      //call the store api 
      storeCategory()
      //reset the form
      resetForm()      
      //hide the modal form
      visible.value = false;
      
    };

const onFinishFailed = ({ errorFields }) => {
  //console.log(errorFields)   
  if (errorFields.length > 0) {
       //get the very first error field
        const errorField = errorFields[0].name;
       //instantiate that field as html element
        const errorElement = document.getElementById(`${errorField}`);       
       
        //scroll to that element
       if (errorElement) {
          errorElement.scrollIntoView({
            behavior: 'smooth',
            block: 'start',
          });
          errorElement.focus();
        }
      }
      
};

const filterOption = (input, option) => {
      return option.label.toLowerCase().indexOf(input.toLowerCase()) >= 0;
    };
 

</script>

<style scoped>
.ant-form-item {
  margin-bottom: 0;
}

.ant-picker {
  width: 100%;
}



.custom-add>.anticon {
  display: flex;
  justify-content: center;
}

.custom-add>.btn-text {
  display: none;
}

:deep(.ant-form-item-control-input-content) {
  display: inline-flex;
}
</style>