<template>
  <div class="new-title-container">
    <a-row :gutter="16">
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <a-form class="custom-filter">
          <a-form-item name="allcolumnfilter">
            <a-input class="single-input" placeholder="All column search" type="text"
              v-model:value="viewCategoryFormRequest.filter_allcolumn" @change="showCategoryList()"
              @keyup.enter="showCategoryList()">
              <template #prefix>
                <FilterOutlined class="site-form-item-icon" />
              </template>
            </a-input>
          </a-form-item>
        </a-form>
      </a-col>
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <div class="action-container">
          <a-space>
            <AddData />
            <a-button title="Clear Sorts" size="medium" type="primary" @click="clearSorts(true)">CS</a-button>
            <a-button title="Clear Filters" size="medium" type="primary" @click="clearFilters()">CF</a-button>
            <!-- <ImportData /> -->
            <ExportData />
          </a-space>
        </div>
      </a-col>
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <div class="pagination">
          <div class="d-inline-block">
            <ul class="pagination-list lst-none p-0 mb-0 d-inline-flex w-100">
              <li title="First Page" class="ant-pagination-prev">
                <button class="ant-pagination-item-link" type="button" @click="updateCategoryPage(0)">
                  <StepBackwardFilled />
                </button>
              </li>
              <li title="Previous Page" class="ant-pagination-prev">
                <button class="ant-pagination-item-link" type="button" @click="updateCategoryPage(-1)">
                  <CaretLeftFilled />
                </button>
              </li>
              <li title="Current Page" class="d-inline-flex mr-2">
                <a-input-number class="d-inline-block text-center page-number" placeholder="page"
                  v-model:value="viewCategoryFormRequest.page" @keypress.enter="listCategory()" />
              </li>
              <li title="Next Page" class="ant-pagination-next mr-2">
                <button class="ant-pagination-item-link" type="button" @click="updateCategoryPage(1)">
                  <CaretRightFilled />
                </button>
              </li>
              <li title="Last Page" class="ant-pagination-next mr-2">
                <button class="ant-pagination-item-link" type="button"
                  @click="updateCategoryPage(categoryDataSourceMeta.last_page)">
                  <StepForwardFilled />
                </button>
              </li>

              <a-select ref="select" v-model:value="viewCategoryFormRequest.per_page"
                :options="pagination.pageSizeOptions" class="pagenate-selection-end" @select="showCategoryList()">
              </a-select>

            </ul>
          </div>
        </div>
      </a-col>
    </a-row>
  </div>

  <div class="view-container"> <!-- START List Container -->

    <div class="user-filter">
      <a-row :gutter="24" class="mb-2">
        <a-col :lg="12" :md="12" :sm="24" :xs="24" :span="12" class="text-left">
          <a-checkbox v-model:checked="viewCategoryFormRequest.filter_activatewildcard">Wildcard search</a-checkbox>
        </a-col>
        <a-col :lg="12" :md="12" :sm="24" :xs="24" :span="12" class="text-right">
          <h4 class="fw-bold">
            Showing {{ (categoryDataSourceMeta.from) == null ? '0' : categoryDataSourceMeta.from.toLocaleString() }}
            to {{ (categoryDataSourceMeta.to) == null ? '0' : categoryDataSourceMeta.to.toLocaleString() }}
            of {{ (categoryDataSourceMeta.total) == null ? '(counting..)' : categoryDataSourceMeta.total.toLocaleString()
            }}
            results
          </h4>
        </a-col>
      </a-row>
    </div>

    <a-table sticky :columns="columns" :data-source="categoryDataSource" @resizeColumn="handleResizeColumn"
      :scroll="{ x: 1300 }" :row-class-name="(_record, index) => (index % 2 === 1 ? 'table-striped' : null)"
      :pagination="false" :loading="viewCategoryFormRequestLoading" size="small">
      <template #headerCell="{ column }">
        <template v-if="column.key === 'id'">
          <div class="ant-table-column-sorters">
            <span class="ant-table-column-title">Category ID<br>
              <input class="single-input" type="text" v-model="viewCategoryFormRequest.filter_id"
                @change="showCategoryList()" @keyup.enter="showCategoryList()" /></span>
            <span class="ant-table-column-sorter ant-table-column-sorter-full">
              <span class="ant-table-column-sorter-inner" @click="changeColumnSort('sort_id')">
                <CaretUpOutlined class="ant-table-column-sorter-up"
                  :class="viewCategoryFormRequest.sort_id == 1 ? 'active' : 'inactive'" />
                <CaretDownOutlined class="ant-table-column-sorter-down"
                  :class="viewCategoryFormRequest.sort_id == 2 ? 'active' : 'inactive'" />
              </span>
            </span>
          </div>
        </template>
        <template v-if="column.key === 'name'">
          <div class="ant-table-column-sorters">
            <span class="ant-table-column-title">Category Name<br>
              <input class="single-input" type="text" v-model="viewCategoryFormRequest.filter_name"
                @change="showCategoryList()" @keyup.enter="showCategoryList()" /></span>
            <span class="ant-table-column-sorter ant-table-column-sorter-full">
              <span class="ant-table-column-sorter-inner" @click="changeColumnSort('sort_name')">
                <CaretUpOutlined class="ant-table-column-sorter-up"
                  :class="viewCategoryFormRequest.sort_name == 1 ? 'active' : 'inactive'" />
                <CaretDownOutlined class="ant-table-column-sorter-down"
                  :class="viewCategoryFormRequest.sort_name == 2 ? 'active' : 'inactive'" />
              </span>
            </span>
          </div>
        </template>
        <template v-if="column.key === 'description'">
          <div class="ant-table-column-sorters">
            <span class="ant-table-column-title">Description<br>
              <input class="single-input" type="text" v-model="viewCategoryFormRequest.filter_description"
                @change="showCategoryList()" @keyup.enter="showCategoryList()" /></span>
            <span class="ant-table-column-sorter ant-table-column-sorter-full">
              <span class="ant-table-column-sorter-inner" @click="changeColumnSort('sort_description')">
                <CaretUpOutlined class="ant-table-column-sorter-up"
                  :class="viewCategoryFormRequest.sort_description == 1 ? 'active' : 'inactive'" />
                <CaretDownOutlined class="ant-table-column-sorter-down"
                  :class="viewCategoryFormRequest.sort_description == 2 ? 'active' : 'inactive'" />
              </span>
            </span>
          </div>
        </template>
        <template v-if="column.key === 'status'">
          <div class="ant-table-column-sorters">
            <span class="ant-table-column-title">Status<br>
              <a-select ref="select" class="single-input-selection" v-model:value="viewCategoryFormRequest.filter_status"
                :options="optionList.ActiveInactive" @select="showCategoryList()">
              </a-select>
            </span>
            <span class="ant-table-column-sorter ant-table-column-sorter-full">
              <span class="ant-table-column-sorter-inner" @click="changeColumnSort('sort_status')">
                <CaretUpOutlined class="ant-table-column-sorter-up"
                  :class="viewCategoryFormRequest.sort_status == 1 ? 'active' : 'inactive'" />
                <CaretDownOutlined class="ant-table-column-sorter-down"
                  :class="viewCategoryFormRequest.sort_status == 2 ? 'active' : 'inactive'" />
              </span>
            </span>
          </div>
        </template>
        <template v-if="column.key === 'created_at'">
          <div class="ant-table-column-sorters">
            <span class="ant-table-column-title">Created At<br>
              <input class="single-input" type="text" v-model="viewCategoryFormRequest.filter_created_at"
                @change="showCategoryList()" @keyup.enter="showCategoryList()" /></span>
            <span class="ant-table-column-sorter ant-table-column-sorter-full">
              <span class="ant-table-column-sorter-inner" @click="changeColumnSort('sort_created_at')">
                <CaretUpOutlined class="ant-table-column-sorter-up"
                  :class="viewCategoryFormRequest.sort_created_at == 1 ? 'active' : 'inactive'" />
                <CaretDownOutlined class="ant-table-column-sorter-down"
                  :class="viewCategoryFormRequest.sort_created_at == 2 ? 'active' : 'inactive'" />
              </span>
            </span>
          </div>
        </template>

        <template v-if="column.key === 'action'">
          <span class="ant-table-column-title">Action<br><br>
          </span>
        </template>

      </template>
      <template #bodyCell="{ column, record, text }">
        <template v-if="column.dataIndex === 'role'">
          <a-tag color="green" v-if="record.role">{{ text }}</a-tag>
        </template>
        <template v-if="column.dataIndex === 'action'">
          <div class="d-flex">
            <a-space>
              <EditData :record="record" />
              <DeleteData :id="record.id" :name="record.name" />
            </a-space>
          </div>
        </template>
      </template>
    </a-table>

  </div> <!-- END List Container -->
</template>

<script setup>
import {
  FilterOutlined, CaretUpOutlined, CaretDownOutlined,
  StepBackwardFilled, StepForwardFilled, CaretLeftFilled, CaretRightFilled,
} from "@ant-design/icons-vue";

import { ref, onMounted } from 'vue';
import { storeToRefs } from 'pinia'
import DeleteData from "../../components/categories/DeleteData.vue";
import EditData from "../../components/categories/EditData.vue";
import AddData from "../../components/categories/AddData.vue";
import ExportData from "../../components/categories/ExportData.vue";
import ImportData from "../../components/categories/ImportData.vue";
import { optionLists, paginations } from '@/constants';

import { useCategoryStore } from "@/stores/categoryStore";

//Instantiate first the store
const categoryStore = useCategoryStore()
const optionList = optionLists
const pagination = paginations

//Then you can destructure using storeToRefs to expose its 
//properties and able to use it in the components.
const {
  categoryDataSource,
  categoryDataSourceMeta,
  viewCategoryFormRequest,
  viewCategoryFormRequestLoading,
  currentSortedColumn,
} = storeToRefs(categoryStore);


//you can destructure its functions without using storeToRefs
//and use it in the components.
const {
  listCategory,
} = categoryStore;

let typingTimeout = null;

const columns = ref([
  {
    key: 'name',
    title: 'Category Name',
    dataIndex: 'name',
    width: '200px',
    resizable: true,
    ellipsis: true,
  },
  {
    key: 'id',
    title: 'ID',
    dataIndex: 'id',
    width: '130px',
    resizable: true,
    ellipsis: true,
  },
  {
    key: 'description',
    title: 'Description',
    dataIndex: 'description',
    width: '600px',
    resizable: true,
    ellipsis: true,
  },
  {
    key: 'status',
    title: 'status',
    dataIndex: 'status',
    width: '150px',
    resizable: true,
    ellipsis: true,
  },
  {
    key: 'created_at',
    title: 'created_at',
    dataIndex: 'created_at',
    ellipsis: true,
  },
  {
    key: 'action',
    title: 'Action',
    dataIndex: 'action',
    fixed: 'right',
    width: '60px'
  },
]);

const changeColumnSort = (column_to_sort) => {

  if (currentSortedColumn.value == column_to_sort) {
    columnSort(column_to_sort)
  } else if (currentSortedColumn.value == null) {
    currentSortedColumn.value = column_to_sort
    columnSort(column_to_sort)
  } else {
    clearSorts()
    currentSortedColumn.value = null
    columnSort(column_to_sort)
  }

  viewCategoryFormRequest.value['page'] = 1
  listCategory()
  currentSortedColumn.value = column_to_sort;
}

const columnSort = (column_to_sort) => {
  viewCategoryFormRequest.value[column_to_sort] = viewCategoryFormRequest.value[column_to_sort] + 1
  if (viewCategoryFormRequest.value[column_to_sort] == 3) {
    viewCategoryFormRequest.value[column_to_sort] = 0
  }
}

const clearSorts = (refresh) => {
  //clear all sorts
  currentSortedColumn.value = null
  for (const key in categoryStore.viewCategoryFormRequest) {
    if (key.startsWith('sort_')) {
      categoryStore.viewCategoryFormRequest[key] = 0;
    }
  }
  viewCategoryFormRequest.value['page'] = 1

  listCategory()
  if (refresh) {
    listCategory()
  }
}

const clearFilters = () => {
  //clear all sorts
  for (const key in categoryStore.viewCategoryFormRequest) {
    if (key.startsWith('filter_')) {
      categoryStore.viewCategoryFormRequest[key] = null;
    }
  }
  viewCategoryFormRequest.value['page'] = 1
  listCategory()
}

const handleResizeColumn = (w, col) => {
  col.width = w;
  console.log(col.width);
};

const updateCategoryPage = (value) => {
  viewCategoryFormRequest.value['page'] = viewCategoryFormRequest.value['page'] + value
  if (value > 1) {
    viewCategoryFormRequest.value['page'] = value
  }
  if (value == 0) {
    viewCategoryFormRequest.value['page'] = 1
  }
  if (viewCategoryFormRequest.value['page'] <= 1) {
    viewCategoryFormRequest.value['page'] = 1
  }
  if (viewCategoryFormRequest.value['page'] >= categoryDataSourceMeta.value['last_page']) {
    viewCategoryFormRequest.value['page'] = categoryDataSourceMeta.value['last_page']
  }
  listCategory()
}


const showCategoryList = () => {

  clearTimeout(typingTimeout);
  typingTimeout = setTimeout(() => {
    // Function to execute after the user stops typing
    //reset page numbers
    viewCategoryFormRequest.value['page'] = 1
    listCategory()
    console.log('User stopped typing');
  }, 500); // Adjust the timeout value as per your preference
}

onMounted(() => {
  listCategory()
})

</script>

<style scoped>
.active {
  color: #ffffff;
  font-size: 15px;
}

.inactive {
  color: rgb(148, 146, 146);
  font-size: 13px;
}

.view-container {
  padding: 24px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.new-title-container {
  padding: 10px 24px;
  background: #22252a;
}

.new-title-container h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 700;
}

.new-title-container :deep(.ant-row) {
  align-items: center;
}

.custom-filter :deep(.ant-form-item) {
  margin-bottom: 0;
}

.pagenate-selection-end {
  width: 120px;
  text-align: center;
}

.action-container {
  display: flex;
  flex-wrap: wrap;
}

.action-container div {
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.single-input {
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
}

.client-action {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

:deep(.table-striped) td {
  background-color: #ebebf0ae;
}

:deep(.ant-table-small .ant-table-thead)>tr>th {
  background-color: #0369a7;
}

.ant-table-column-title {
  color: white
}

.ant-table-column-title .single-input {
  color: black;
}

:deep(.ant-table-cell-row-hover) {
  background-color: #a8d8f6 !important;
}

@media screen and (max-width: 767px) {
  .pagination {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .view-container {
    padding: 15px;
  }

  .pagenate-selection-end {
    max-width: 95px;
    text-align: center;
  }

  .action-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .action-container div {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  ul.pagination-list {
    font-size: 11px;
  }

  :deep(.ant-input-number) {
    width: 35px;
  }

  :deep(.ant-input-number-input) {
    padding: 0 5px;
  }

  :deep(.ant-pagination-prev),
  :deep(.ant-pagination-next),
  :deep(.ant-pagination-jump-prev),
  :deep(.ant-pagination-jump-next) {
    min-width: 35px;
  }
}
</style>