<template>
  <a-button title="Import" size="medium" type="primary" @click="showModal">IM</a-button>
  <div> 
    <a-modal 
      v-model:visible="visible" 
      title="Import Product" 
      ok-text="Delete" 
      centered 
      cancel-text="Cancel"
      @ok="handleOk"
    >
      <h3>Fill up all required fields.</h3>
      <div class="add-container">
        <!-- all fields here -->
      </div>
      <template #footer>
        <a-button key="back" @click="handleCancel">Cancel</a-button>
        <a-button key="submit" type="primary" html-type="submit" :disabled="disabled" @click="submit">
          Import
        </a-button>
      </template>
    </a-modal>

  </div>
</template>
<script setup>

import { ref } from 'vue';
import { notification } from 'ant-design-vue';

const visible = ref(false)
const disabled = ref(false)

const showModal = () => {
  //your code here..
  visible.value = true

}

const handleCancel = () => {
  visible.value = false
}

const handleOk = () => {
  visible.value = false
}

const submit = () => {
  //call the api

  //show message
  openNotificationWithIcon('success')


  //then reset values
  disabled.value = false
  visible.value = false
}

const openNotificationWithIcon = (type) => {
  notification[type]({
    //type could be success, info, warning, error
    message: 'Notification',
    description:
      'Record has been successfully save.',
  });
}

</script>

<style scoped>
.ant-form-item {
  margin-bottom: 0;
}

.ant-picker {
  width: 100%;
}

.custom-add {
  /* position: absolute;
  right: 12px;
  bottom: 15px; */
  width: 32px;
  height: 32px;
  padding: 2.4px 0;
  font-size: 16px;
  border-radius: 2px;
  vertical-align: -3px;
}

.custom-add>.anticon {
  display: flex;
  justify-content: center;
}

.custom-add>.btn-text {
  display: none;
}

:deep(.ant-form-item-control-input-content) {
  display: inline-flex;
}
</style>