<template>
  <MainLayout defaultKey="6" pageTitle="Brands">
    <span class="message">Blank Page</span>
  </MainLayout>
</template>


<script setup>

// import { message } from 'ant-design-vue';
import MainLayout from "../layouts/MainLayout.vue";

</script>