<template>
  <MainLayout defaultKey="3" pageTitle="Categories">
    <DataTable />
  </MainLayout>
</template>


<script setup>

// import { message } from 'ant-design-vue';
import MainLayout from "../layouts/MainLayout.vue";
import DataTable from "../components/categories/DataTable.vue";
</script>