<template>
  <MainLayout defaultKey="11" pageTitle="Employees">
    <span class="message">Employees Page still on progress</span>
  </MainLayout>
</template>


<script setup>

// import { message } from 'ant-design-vue';
import MainLayout from "../layouts/MainLayout.vue";
</script>