<template>
  <AuthLayout>
    <div id="parent" class="login-form">
      <div class="login-container">
        <a-row :gutter="0">
          <a-col :lg="24" :md="24" :sm="24" :xs="24" :span="24" class="d-flex">
            <a-card title="" :bordered="false" id="child2" >
              <div class="text-center">
                <h1>{{ app_name }}</h1>               
              </div>
            </a-card>
          </a-col>
        </a-row>
        <a-row :gutter="0">
          <a-col :lg="24" :md="24" :sm="24" :xs="24" :span="24" class="d-flex">
            <a-card 
            title="Log in" 
            :bordered="false" 
            id="child" 
            :headStyle="cardHeadStyle"
            >
              <a-form :model="formData" name="basic" :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }"
                autocomplete="off" @finish="onFinish" @finishFailed="onFinishFailed">
                <a-form-item label="Email" name="email"
                  :rules="[{ required: true, message: systemMessage.emailIsRequired }, { type: 'email', message: systemMessage.emailShouldBeValid }]">
                  <a-input v-model:value="formData.email" />
                </a-form-item>

                <a-form-item label="Password" name="password"
                  :rules="[{ required: true, message: systemMessage.passwordIsRequired }]">
                  <a-input-password v-model:value="formData.password" />
                </a-form-item>

                <a-form-item name="stay_signed_in" :wrapper-col="{ offset: 8, span: 16 }">
                  <a-checkbox v-model:checked="formState.stay_signed_in">Stay signed in.</a-checkbox>
                </a-form-item>

                <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
                  <a-button type="primary" html-type="submit" :loading="loginFormRequestLoading" :disabled="loading"
                    @click="submit">Submit</a-button>
                  <br><br>
                  <a href="/forgot-password">Forgot Password?</a> <br/><br/>
                  <p>No account yet? <a href="/sign-up">Sign up now it's FREE!</a> </p> 
                </a-form-item>                
              </a-form>
            </a-card>
          </a-col>
        </a-row>
      </div>
    </div>
  </AuthLayout>
</template>

<script setup>

import { ref, reactive } from 'vue';
import { storeToRefs } from 'pinia'
import AuthLayout from "../layouts/AuthLayout.vue";
import { systemMessages } from '@/constants';
import { useAuthStore } from "@/stores/authStore";

//Data *******************************************//
const formState = reactive({
  email: "",
  password: "",
  stay_signed_in: "true",
  num: 0,
})
const app_name = ref(import.meta.env.VITE_APP_NAME)

const cardHeadStyle =ref({
        borderRadius: '50px',    
        color: '#fff',
      })

//Instance objects  *****************************//
//Instantiate first the object
const systemMessage = systemMessages;
const authStore = useAuthStore()

// then expose their functions or properties 
//so you can use it anywhere in the component
const { formData, loginFormRequestLoading } = storeToRefs(authStore) 
const { logIn } = authStore

//Methods  **************************************//
const onFinish = () => {
  //Authenticate User by calling the logIn function
  logIn() 
};

const onFinishFailed = (errorInfo) => {
  console.log('Failed:', errorInfo);
  //if validation failed remove the cookie
  //$cookies.remove(cookieData.accessTokenName) 
};

</script>

<style scoped>
.login-form #child2 .ant-card-body {
  display: table-cell;
  vertical-align: middle;
}
</style>

<style scoped>
.login-container {
  /* background: #f6f5f5;  */
  padding: 30px;
  max-width: 700px;
  width: 100%;
}

#parent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

#child {
  /* height: 45vh; */
  position: relative;
  background: white;
  padding: 2rem;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  width: 100%;
}

#child2 {
  /* height: 45vh; */
  position: relative;
  background: rgb(41, 41, 44);
  width: 100%;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  display: table;
}

#child2 :deep(.ant-card-body) {
  padding: 15px;
}

h1 {
  color: white;
  margin: 0;
}

:deep(.ant-card-head-title) {
  font-size: 24px;
}

@media screen and (max-width: 991px) {
  :deep(.ant-row) {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 959px) {
  #parent {
    height: auto;
    max-width: 500px;
    margin: 25px auto;
    width: 100%;
  }

  .w-100 {
    width: 100%;
  }

  #child2 {
    width: 100%;
  }

  #child {
    padding: 1rem;
  }
}
</style>