<template>
    <MainLayout defaultKey="2" pageTitle="Products">
      <span class="message">Blank Page</span>
    </MainLayout>
</template>


<script setup>

// import { message } from 'ant-design-vue';
import MainLayout from "../layouts/MainLayout.vue";
</script>