<template>
    <MainLayout defaultKey="12-1" preOpenKey="12" pageTitle="Report1">
      <span class="message">Blank Page</span>
    </MainLayout>
  </template>
  
  
  <script setup>
  
  // import { message } from 'ant-design-vue';
  import MainLayout from "../layouts/MainLayout.vue";
  </script>