<template>
    <MainLayout defaultKey="13-2" preOpenKey="13" pageTitle="Roles">
      <span class="message">Blank Page</span>
    </MainLayout>
  </template>
  
  
  <script setup>
  
  // import { message } from 'ant-design-vue';
  import MainLayout from "../layouts/MainLayout.vue";
  </script>