<template>
    <MainLayout defaultKey="13-1" preOpenKey="13" pageTitle="Users">
      <span class="message">Blank Page</span>
    </MainLayout>
  </template>
  
  
  <script setup>  
  // import { message } from 'ant-design-vue';
  import MainLayout from "../layouts/MainLayout.vue";
  </script>