<template> 
 <div>
 <h3>Statistics 1</h3>
    <apexchart        
        type="area"
        :options="chartOptions"
        :series="series"
        ></apexchart>
 </div>
</template>


<script setup>

import { ref } from 'vue';

const chartOptions = ref({
        chart: {
          id: "vuechart-example",
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998],
        },
        tooltip: {
          fixed: {
            enabled: false,
            position: "topRight"
          }
        } 
      })

const series = ref([
        {
          name: "series1",
          data: [31, 40, 28, 51, 42, 109, 100]
        },
        {
          name: "series2",
          data: [11, 32, 45, 32, 34, 52, 41]
        }
      ])
    
</script>