<template>
  <div>
    <h3>Statistics 1</h3>
    <apexchart type="bar" :options="chartOptions" :series="series"></apexchart>
  </div>
</template>


<script setup>

import { ref } from 'vue';

const chartOptions = ref({
  chart: {
    id: "vuechart-example",
  },
  title: {
    text: 'Bar Chart',
    align: 'left'
  },
  xaxis: {
    categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998],
  },
})

const series = ref([
  {
    name: "series-1",
    data: [30, 40, 35, 50, 49, 60, 70, 91],
  },
  {
    name: "series-2",
    data: [-30, 20, 25, 30, 29, 40, 50, 61],
  },
])

</script>