<template>
  <div class="view-container"> <!-- START List Container -->    
    <a-row :gutter="16">
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <AreaChart />
      </a-col>
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <BarStackColumnChart />
      </a-col>
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <PolarAreaChart />
      </a-col>
    </a-row>
  </div> <!-- END List Container -->
</template>

<script setup>
import BarChart from '../../components/dashboard/BarChart.vue';
import DonutChart from '../../components/dashboard/DonutChart.vue';
import LineChart from '../../components/dashboard/LineChart.vue';
import AreaChart from '../../components/dashboard/AreaChart.vue';
import BarStackColumnChart from '../../components/dashboard/BarStackColumnChart.vue';
import PolarAreaChart from '../../components/dashboard/PolarAreaChart.vue';
import SparkleLine1 from '../../components/dashboard/SparkleLine1.vue';
import SparkleLine2 from '../../components/dashboard/SparkleLine2.vue';
import SparkleLine3 from '../../components/dashboard/SparkleLine3.vue';
</script>

<style scoped>
.active {
  color: #ffffff;
  font-size: 15px;
}

.inactive {
  color: rgb(148, 146, 146);
  font-size: 13px;
}

.view-container {
  padding: 24px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.new-title-container {
  padding: 10px 24px;
  background: #22252a;
}
.new-title-container h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 700;
}

.new-title-container :deep(.ant-row) {
  align-items: center;
}
.custom-filter :deep(.ant-form-item) {
  margin-bottom: 0;
}
.pagenate-selection-end {
  width: 120px;
  text-align: center;
}
.action-container {
  display: flex;
  flex-wrap: wrap;
}

.action-container div {
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.single-input {
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
}

.client-action {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

:deep(.table-striped) td {
  background-color: #ebebf0ae;
}

:deep(.ant-table-small .ant-table-thead)>tr>th {
  background-color: #0369a7;
}

.ant-table-column-title {
  color: white
}

.ant-table-column-title .single-input {
  color: black;
}

:deep(.ant-table-cell-row-hover) {
  background-color: #a8d8f6 !important;
}

@media screen and (max-width: 767px) {
  .pagination {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .view-container {
    padding: 15px;
  }

  .pagenate-selection-end {
    max-width: 95px;
    text-align: center;
  }

  .action-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .action-container div {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  ul.pagination-list {
    font-size: 11px;
  }

  :deep(.ant-input-number) {
    width: 35px;
  }

  :deep(.ant-input-number-input) {
    padding: 0 5px;
  }

  :deep(.ant-pagination-prev),
  :deep(.ant-pagination-next),
  :deep(.ant-pagination-jump-prev),
  :deep(.ant-pagination-jump-next) {
    min-width: 35px;
  }
}
</style>