<template>
  <div>
    <h3>Statistics 2</h3>
    <apexchart type="donut" :options="chartOptions" :series="series"></apexchart>
  </div>
</template>


<script setup>

import { ref } from 'vue';

const chartOptions = ref({
  labels: ["Blue", "Green", "Yellow", "Red"],
  title: {
    text: 'Donut Chart',
    align: 'left'
  },
})

const series = ref([11, 32, 45, 32])

</script>