<template>
  <div>
    <h3>Statistics 3</h3>
    <apexchart type="line" :options="chartOptions" :series="series"></apexchart>
  </div>
</template>


<script setup>

import { ref } from 'vue';

const chartOptions = ref({
  chart: {
    id: "vuechart-example",
  },
  title: {
    text: 'Line Chart',
    align: 'left'
  },
  xaxis: {
    categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998],
  },
  colors: ['#EA3FF7', '#0000ff'] //this sets the color sequence to use on each series   
})

const series = ref([
  {
    name: "series-1",
    data: [30, 40, 35, 50, 49, 60, 70, 91],
  },
  {
    name: "series-2",
    data: [10, 20, 15, 30, 29, 40, 50, 81],
  },
])

</script>