<template> 
 <div>
  <h3>Statistics 3</h3>
    <apexchart        
        type="polarArea"
        :options="chartOptions"
        :series="series"
        ></apexchart>
 </div>
</template>


<script setup>

import { ref } from 'vue';

const chartOptions = ref({
        chart: {
          id: "vuechart-example",
        },
        stroke: {
          colors: ['lightgray']
        },
        labels: ['January', 'Febuary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        fill: {
          opacity: 0.8
        },
      })

const series = ref([30, 40, 35, 50, 49, 60, 70, 91,32,58,23,45])
    
</script>