<template>
  <div>
    <apexchart type="area" height="100" :options="chartOptions" :series="series"></apexchart>
  </div>
</template>


<script setup>

import { ref } from 'vue';

const chartOptions = ref({
  chart: {
    id: "vuechart-example",
    sparkline: {
      enabled: true
    },
  },
  stroke: {
    curve: 'straight',
  },
  fill: {
    opacity: 0.3,
  },
  xaxis: {
    crosshairs: {
      width: 1
    },
  },
  yaxis: {
    min: 0
  },
  title: {
    text: '$60,232',
    offsetX: 0,
    style: {
      fontSize: '24px',
    }
  },
  subtitle: {
    text: 'Expenses',
    offsetX: 0,
    style: {
      fontSize: '14px',
    }
  },
  colors: ['#FF3918']  //this sets the color sequence to use on each series        
})

const series = ref([
  {
    name: "series-1",
    data: [10, 20, 30, 40, 59, 60, 70, 80, 70, 60, 34, 23, 90, 10, 63, 20, 30, 40, 35, 78, 19, 30, 70, 100],
  }
])

</script>