<template> 
 <div>  
    <apexchart        
        type="area"
        height="100" 
        :options="chartOptions"
        :series="series"
        ></apexchart>
 </div>
</template>


<script setup>

import { ref } from 'vue';

const chartOptions = ref({
        chart: {
          id: "vuechart-example",         
          sparkline: {
                enabled: true
              },
        },
        stroke: {
              curve: 'straight',             
            },
            fill: {
              opacity: 0.3,              
            },
            xaxis: {
              crosshairs: {
                width: 1
              },
            },
            yaxis: {
              min: 0
            },
            title: {
              text: '$90,215',
              offsetX: 0,
              style: {
                fontSize: '24px',
              }
            },
            subtitle: {
              text: 'Profits',
              offsetX: 0,
              style: {
                fontSize: '14px',
              }
            },   
        colors: ['#377E47']  //this sets the color sequence to use on each series       
      })

const series = ref([
        {
          name: "series-1",
          data: [90, 80, 70, 40, 59, 60, 50, 80,40, 60, 34, 33, 90, 10, 23, 20, 30, 10, 35, 48, 19, 70, 70, 30],
        }
      ])
    
</script>