<template>
    <div > 
        <br/>
        <!-- {{ updateUserFormRequest }} -->
        <a-form 
        :model="updateUserFormRequest" 
        name="basic" 
        :label-col="{ span: 8 }" 
        :wrapper-col="{ span: 8 }"
        autocomplete="off"
         @finish="onFinish" 
         @finishFailed="onFinishFailed">

        <a-form-item label="First Name" name="first_name"
            :rules="[{ required: true, message: systemMessage.firstNameIsRequired }]">
            <a-input v-model:value="updateUserFormRequest.first_name" id="first_name"/>
        </a-form-item>

        <a-form-item label="Last Name" name="last_name"
            :rules="[{ required: true, message: systemMessage.lastNameIsRequired }]">
            <a-input v-model:value="updateUserFormRequest.last_name" id="last_name"/>
        </a-form-item>

        <a-form-item label="Email" name="email"
            :rules="[{ required: true, message: systemMessage.emailIsRequired }, { type: 'email', message: systemMessage.emailShouldBeValid }]">
            <a-input v-model:value="updateUserFormRequest.email" id="email" />
        </a-form-item>

        <a-form-item label="Phone" name="phone"
            :rules="[{ required: true, message: systemMessage.phoneIsRequired }]">
            <a-input v-model:value="updateUserFormRequest.phone" id="phone"/>
        </a-form-item>

        <a-form-item label="Address" name="address1"
            :rules="[{ required: true, message: systemMessage.addressIsRequired }]">
            <a-input v-model:value="updateUserFormRequest.address1" id="address1"/>
        </a-form-item>

        <a-form-item label="City" name="city"
            :rules="[{ required: true, message: systemMessage.cityIsRequired }]">
            <a-input v-model:value="updateUserFormRequest.city" id="city" />
        </a-form-item>

        <a-form-item label="Zip/Postal Code" name="zip_postal_code"
            :rules="[{ required: true, message: systemMessage.zipPostalCodeIsRequired }]">
            <a-input v-model:value="updateUserFormRequest.zip_postal_code" id="zip_postal_code" />
        </a-form-item>

        <a-form-item label="State/Region/Province" name="subnational_entity"
            :rules="[{ required: true, message: systemMessage.subnationalEntiryIsRequired }]">
            <a-input v-model:value="updateUserFormRequest.subnational_entity" id="subnational_entity" />
        </a-form-item>

        <a-form-item label="Country" name="country_id"
            :rules="[{ required: true, message: systemMessage.countryIsRequired }]">
            <a-select
            show-search 
            :options="countryOptionList" 
            v-model:value="updateUserFormRequest.country_id" 
            id="country_id"
            ></a-select>
        </a-form-item>

        <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
            <a-button type="primary" html-type="submit" :loading="updateUserFormRequestLoading" :disabled="loading"
            @click="submit">Update</a-button>
        </a-form-item>
        </a-form>

    </div> 
</template>

<script setup>  

import {ref, onMounted} from 'vue'
import { storeToRefs } from 'pinia'
import { useUserStore } from "@/stores/userStore";
import { systemMessages } from '@/constants';

//Instantiate and expose those variables or functions from useAuthStore
//so you can use it anywhere in the component
const userStore = useUserStore()

const { updateUserFormRequest, updateUserFormRequestLoading } = storeToRefs(userStore) 

const { updateUserProfile, showUserProfile } = userStore

const systemMessage = systemMessages;

const countryOptionList = ref([
  {value: 1,
    label: 'United States of America'},
  {value: 2,
  label: 'Philippines'},
])

//Methods  **************************************//
const onFinish = (values) => {
  console.log('Success:', values);
  updateUserProfile()  
};

const onFinishFailed = (errorInfo) => {
    showUserProfile()
  console.log('Failed:', errorInfo);
};

onMounted(() => {
    showUserProfile()
});

</script>